<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/addAlien" method="post">
        ENTER ID = <input type="text" name="id">
        ENTER NAME = <input type="text" name="name">
        <input type="submit">
    </form>
    <form action="/getAlien" method="get">
        ENTER ID = <input type="text" name="id">
    </form>
    <form action="/getAlienByName" method="get">
        ENTER NAME = <input type="text" name="name">
    </form>
</body>
</html>